.nothing__main-content{
    align-content: center;
    background-color: $primary;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    p{
        text-align: center;
    }

    i{
        text-align: center;
        font-size: 5rem;
    }
}